<?xml version="1.0"?>
<robot name="line_following_world">
  <!-- Ground Plane -->
  <link name="ground">
    <visual>
      <geometry>
        <plane size="20 20"/>
      </geometry>
      <material name="ground_material">
        <texture filename="/home/soham/line_follower_ws/Track2.png"/>
      </material>
    </visual>
  </link>
</robot>